.form {
    max-width: 600px;
    margin: auto;
}
#googleMap {
    height=400px;
    width=90%;
    margin: auto;
}
#map {
    max-width:100%;
    width: 800px;
    margin: auto;
    height: 500px;
}

.card {
    margin-bottom: 10px;
}
#feed-container {
    
    overflow-y: scroll;
    height: ;
}
form#form small {
      opacity:0;
      line-height: 0;
      transition: opacity 0.5s;
    }
form#form div.form-group.active small {
      opacity: 1;
    }
td.description-overflow {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 max-width: 200px;
}
.modal-class {
    max-width: 600px;
}