div.container {
  margin-top: 2em;
}

html {
  position: relative;
  min-height: 100%;
}
.btn-outline-success{
    border-color: aliceblue;
    color:aliceblue
}
body {
  /* Margin bottom by footer height */
  margin: 60px auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
body {
    margin-top: 50px;
}

/* Custom page CSS -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body .container {
  padding: 60px 15px 15px 15px;
  background-color: #e9ecef;
  border-radius: 5px;
  
}

.footer  .container {
  padding-right: 15px;
  padding-left: 15px;
}

.form {
    max-width: 600px;
    margin: auto;
}
#googleMap {
    height=400px;
    width=90%;
    margin: auto;
}
#map {
    max-width:100%;
    width: 800px;
    margin: auto;
    height: 500px;
}

.card {
    margin-bottom: 10px;
    padding: 1em;
}

#feed-container img {
  height: 300px;
}
#feed-container {
    /* overflow-y: scroll; */
}

nav.bg-green {
  background-color:#00a2ff !important;
}
a.nav-link {
  text-decoration: none;
  color: #225422;
  padding: 15px;
  white-space: nowrap;
}
.nav-link{
}
.navbar {
    padding:0 20px;
}
.navbar-brand {
  transition: .5s;
  color: lightcyan;
  padding: 12px 10px;
}
.navbar-brand:hover{
    transition: .5s;
    background-color:#e9ecef;
}
#authority{
    background-color: #00a2ff;
}
#authority:hover {
    cursor: default;
    background-color: #00a2ff;
}
li.nav-item:hover {
  background-color: #e9ecef;
}
.navbar-toggler-icon {
  background-color: #e9ecef;
}
li.nav-item {
  transition: background-color 0.5s;
  margin:0 2px;
}

form#form small {
      opacity:0;
      line-height: 0;
      transition: opacity 0.5s;
    }
form#form div.form-group.active small {
      opacity: 1;
    }
td.description-overflow {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 max-width: 200px;
}
.modal-class {
    max-width: 600px;
}